<Template name="FileUploadItem">
  <div class="col-md-12" style="margin: 0;padding: 0px;">
    <ul class="list-inline" style="margin: 0;padding: 0px;">
      <li style="width:190px;height: 25px;line-height:30px;margin: 0;padding: 0;text-indent: 10px;">{{isName}}</li>
      <li style="width:102px;height: 25px;line-height:30px;margin: -5px;padding: 0;text-indent: 10px;">{{isType}}</li>
      <li style="width:70px;height: 25px;line-height:30px;margin: 0px;padding: 0;text-indent: 10px;">{{isSize}}</li>
      <li style="width:96px;height: 25px;line-height:30px;margin: -5px;padding: 0;text-indent: 10px;color: {{#if statusInProgress}}#FF4567{{else}}{{#if statusIsDone}}#63A4F2{{else}}#91DC5A{{/if}}{{/if}};"><b>{{status}}</b></li>
    </ul>
  </div>
</Template>