<Template name="FormUpload">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/>
      </div>

      <div class="col-md-12">
        <div style="position:relative;width:705px; height:200px;border: 1px solid #ccc;border-radius: 5px;">
          <canvas width="200px" height="200px" id="za" style="position: absolute;top:0px;left:0px;"></canvas>
          <canvas width="200px" height="200px" id="az" data-min="0" style="position: absolute;top:0px;left:0px;"></canvas>
          <div style="width:200px; height:200px;font-size: 50px;line-height: 200px;position: absolute;top: 0px;left: 0px;text-align: center;color:#91c2ff">
            <b>{{percentage}}</b>
          </div>
          <div style="width:480px; height:40px;position: absolute;top: 4px;left: 220px;">
            <div class="btn-group" role="group" aria-label="..." style="box-shadow: 1px 1px 3px #555;border-radius: 4px;overflow: hidden;">
              <button type="button" class="btn btn-default menu-btn" id="btn-select-files"><b>Add List</b></button>
              <button type="button" class="btn btn-default menu-btn" id="clear-list-files"><b>Clear List</b></button>
              <button type="button" class="btn btn-default menu-btn" id="upload-play"><b>Play Upload</b></button>
              <button type="button" class="btn btn-default menu-btn" id="upload-stop"><b>Stop Upload</b></button>
            </div>
            <div class="closeUpload"><b>X</b></div>
            <input type="file" name="file" id="select-files" multiple/>
          </div>
          <div class="uploadInfo" style="">
            <div class="panel panel-default">

              <div class="panel-heading" style="width:478px;height:36px;border:1px solid #FF4567;background: #F26881;color: #ddd;box-shadow: 1px 1px 5px #555;margin-left: -1px;margin-top: -1px;">
                <div style="width: 190px;line-height:40px;position: absolute;top: 0px;left: 0px;text-indent: 10px;"><b>File</b></div>
                <div style="width: 100px;line-height:40px;position: absolute;top: 0px;left: 190px;text-indent: 10px;"><b>Type</b></div>
                <div style="width: 70px;line-height:40px;position: absolute;top: 0px;left: 290px;text-indent: 10px;"><b>Size</b></div>
                <div style="width: 96px;line-height:40px;position: absolute;top: 0px;left: 360px;text-indent: 10px;"><b>Status</b></div>
              </div>

              <div class="panel-body" style="height:110px;margin: 0;padding: 0px;">
                <div style="height:100%;width:100%;overflow-y: scroll;border:none;color: #777;">
                  {{#each Listfiles}}
                    {{> FileUploadItem}}
                  {{else}}
                    <div class="col-md-12" style="margin: 0;padding: 0px;">
                      <ul class="list-inline" style="margin: 0;padding: 0px;">
                        <li style="width:190px;height: 30px;line-height:30px;margin: 0;padding: 0;text-indent: 10px;">None</li>
                        <li style="width:102px;height: 30px;line-height:30px;margin: -5px;padding: 0;text-indent: 10px;">None</li>
                        <li style="width:71px;height: 30px;line-height:30px;margin: 0px;padding: 0;text-indent: 10px;">None</li>
                        <li style="width:96px;height: 30px;line-height:30px;margin: -5px;padding: 0;text-indent: 10px;">None</li>
                      </ul>
                    </div>
                  {{/each}}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <br/>
      </div>

    </div>
  </div>
</Template>
