.menu-btn {
    background: #A3F569;
    border-color: #91DC5A;
    color: #777;
}

.menu-btn:hover {
    background: #78DE2F;
    color: #fff;
}

.uploadInfo {
    width: 480px;
    height: 150px;
    position: absolute;
    top: 44px;
    left: 220px;
    border: 1px solid #FF4567;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #555;
    overflow: hidden;
}
.closeUpload{
    width:30px;
    height:30px;
    position: absolute;
    top:0px;
    right:0px;
    border-radius:15px;
    background: #91c2ff;
    line-height:30px;
    text-align: center;
    color: #eee;
    cursor: pointer;
    box-shadow: 1px 1px 3px #555;
    overflow: hidden;
}
.closeUpload:hover{
    background: #277EE8;
}