<Template name="profilUpload">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/>
      </div>
      <div class="col-md-12">
        <div style="position:relative;width:600px; height:400px;">
          <div style="width:600px; height:40px;position: absolute;top: 0px;left: 0px;">
            <div class="btn-group" role="group" aria-label="..." style="box-shadow: 1px 1px 3px #555;border-radius: 4px;overflow: hidden;">
              <button type="button" class="btn btn-default menu-btn" id="btn-select-image"><b>Import photo</b></button>
              <button type="button" class="btn btn-default menu-btn" id="btn-save-image"><b>Save</b></button>
              <button type="button" class="btn btn-default menu-btn" id="mitombo"><b>{{count}}</b></button>
            </div>
            <div class="closeUpload"><b>X</b></div>
            <input type="file" name="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" id="file-image"/>
          </div>
          <div style="width:600px; height:320px;position: absolute;top: 40px;left: 0px;border: 1px solid #bbb;background: #eee;border-radius: 5px 5px 0px 0px;overflow: hidden;" id="content-image">
            <img src="" id="this-image">
            <div style="width:100%; height:100%;position: absolute;top: 0px;left: 0px;background: #fff;opacity: 0.7;" id="simg"></div>
            <div style="width:240px; height:260px;position: absolute;top: 30px;left: 180px;border: 1px solid #bbb;overflow: hidden;">
              <canvas width="240px" height="260px" id="canvas-img" style="position: absolute;top:0px;left:0px;"></canvas>
            </div>
          </div>
          <div style="width:600px; height:40px;position: absolute;top: 360px;left: 0px;border: 1px solid #bbb;overflow: hidden;background: #eee;border-radius:0px 0px 5px 5px;" id="modif-image">
            <div style="width:100%; height:100%;position: absolute;top: 0px;left: 0px;" id="szoom"></div>
            <div style="width:210px; height:10px;position: absolute;top: 12px;left: 190px;border: 1px solid #bbb;background: #F26881;border-radius:5px;overflow: hidden;" id="iszoom">
              <div style="width:10px; height:10px;position: absolute;top: -1px;left: 0px;background: #91c2ff;border-radius:5px;cursor: pointer;" id="zoompercentage"></div>
            </div>
          </div>
          <div style="position:absolute;top:45px;left: 610px;">
            <img src="/.upload/a.jpeg" id="profil-photo" alt="photo profil" width="240" height="260">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <br/>
      </div>

    </div>
  </div>
</Template>
